
  <ul id="todo-list">
    {{#each this}}
      <li>
        <input type="checkbox" class="toggle">
        <label>{{task}}</label><button class="destroy"></button>
      </li>
      {{/each}}
  </ul>
